@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #2B2B2B;
}

.fullskrin {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.fullskrin__header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0 0;
}
.fullskrin__header-market {
  display: flex;
  justify-content: space-between;
  width: 250px;
  align-items: center;
}
.fullskrin__market-text {
  color: #FFF;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.fullskrin__header-mobile {
  width: 60px;
  height: 60px;
  display: none;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
}
.fullskrin__mobile-line {
  position: absolute;
  width: 90%;
  height: 4px;
  background-color: #fff;
  top: 45%;
  transition: 0.3s;
}
.fullskrin__mobile-line::after {
  position: absolute;
  content: "";
  height: 4px;
  background-color: #fff;
  top: 15px;
  transition: 0.3s;
  width: 60%;
}
.fullskrin__mobile-line::before {
  position: absolute;
  content: "";
  height: 4px;
  background-color: #fff;
  top: -15px;
  transition: 0.3s;
  width: 80%;
}
.fullskrin__header-input[type=checkbox]:checked ~ .fullskrin__header-label .fullskrin__header-mobile .fullskrin__mobile-line {
  transform: rotate(45deg);
  background-color: #ff0101;
}
.fullskrin__header-input[type=checkbox]:checked ~ .fullskrin__header-label .fullskrin__header-mobile .fullskrin__mobile-line::after {
  opacity: 0;
  background-color: #ff0101;
}
.fullskrin__header-input[type=checkbox]:checked ~ .fullskrin__header-label .fullskrin__header-mobile .fullskrin__mobile-line::before {
  transform: rotate(90deg) translateX(14px);
  width: 100%;
  background-color: #ff0101;
}
.fullskrin__header-input[type=checkbox]:checked ~ .fullskrin__nav {
  position: absolute;
  width: 200px;
  height: 400px;
  right: 10%;
  top: 20px;
  background-color: #5a5a5a;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  z-index: 1;
}
.fullskrin__header-input {
  display: none;
}
.fullskrin__nav {
  display: flex;
  justify-content: space-between;
  width: 610px;
  align-items: center;
}
.fullskrin__nav-link {
  color: #FFF;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.fullskrin__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 60px;
  background-color: rgb(162, 89, 255);
  border-radius: 20px;
  padding: 0 30px;
  cursor: pointer;
}
.fullskrin__button-text {
  color: #FFF;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.fullskrin__body {
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  padding: 80px 100px;
}
.fullskrin__body-info {
  position: relative;
}
.fullskrin__body-title {
  color: var(--White, #FFF);
  font-family: "Work Sans", sans-serif;
  font-size: 67px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  text-transform: capitalize;
  max-width: 510px;
}
.fullskrin__body-text {
  color: var(--White, #FFF);
  font-size: 22px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
  max-width: 510px;
  margin-top: 20px;
}
.fullskrin__body-button {
  width: 230px;
  height: 60px;
  background-color: rgb(162, 89, 255);
  border-radius: 20px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
  border: 2px solid #A259FF;
}
.fullskrin__body-button:hover {
  background-color: transparent;
  border: 2px solid #000;
}
.fullskrin__button-input[type=checkbox]:checked ~ .fullskrin__button-label .fullskrin__body-button {
  transform: translateX(-100px);
  background-color: transparent;
  border: 2px solid #000000;
  animation: button 2s linear infinite;
}
@keyframes button {
  0% {
    box-shadow: 0 0 10px transparent;
  }
  50% {
    box-shadow: 0 0 10px rgb(162, 89, 255);
  }
  100% {
    box-shadow: 0 0 10px transparent;
  }
}
.fullskrin__button-input[type=checkbox]:checked ~ .fullskrin__create {
  position: absolute;
  width: 800px;
  height: 370px;
  background-color: rgb(59, 59, 59);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  left: 30%;
  top: 10%;
  animation: create 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes create {
  0% {
    top: 200%;
  }
  100% {
    top: 10%;
  }
}
.fullskrin__create {
  position: absolute;
  display: flex;
  justify-content: space-between;
  background-color: rgb(59, 59, 59);
  border-radius: 20px;
  top: 200%;
  left: 30%;
  transition: 0.3s;
}
.fullskrin__create-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  height: 360px;
}
.fullskrin__header-markt {
  display: flex;
  justify-content: space-between;
  width: 250px;
  align-items: center;
}
.fullskrin__markt-text {
  color: #FFF;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.fullskrin__create-input {
  width: 250px;
  height: 40px;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid rgb(189, 189, 189);
}
.fullskrin__create-input::-moz-placeholder {
  color: var(--Background, #2B2B2B);
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  transform: translate(15px);
}
.fullskrin__create-input::placeholder {
  color: var(--Background, #2B2B2B);
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  transform: translate(15px);
}
.fullskrin__create-button {
  width: 200px;
  height: 50px;
  background-color: rgb(162, 89, 255);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.fullskrin__button-input {
  display: none;
}
.fullskrin__create-img {
  width: 493px;
  height: 370px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.fullskrin__rocket {
  width: 20px;
  height: 20px;
  transition: 0.5s;
}
.fullskrin__body-button:hover .fullskrin__rocket {
  transform: rotate(360deg) translateX(-10px);
}
.fullskrin__started {
  color: #FFF;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  transition: 0.3s;
}
.fullskrin__body-button:hover .fullskrin__started {
  transform: scale(1.1);
}
.fullskrin__numbers {
  width: 510px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.fullskrin__item-title {
  color: var(--White, #FFF);
  font-family: "Space Mono", monospace;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  text-transform: capitalize;
}
.fullskrin__item-text {
  color: var(--White, #FFF);
  font-family: "Work Sans", sans-serif;
  font-size: 23.99px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
}
.fullskrin__body-walked {
  background-color: rgb(59, 59, 59);
  border-radius: 20px;
}
.fullskrin__walked-info {
  padding: 20px;
}
.fullskrin__walked-title {
  color: #FFF;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}
.fullskrin__walked-block {
  display: flex;
  justify-content: space-between;
  max-width: 110px;
  margin-top: 10px;
}
.fullskrin__block-text {
  color: #FFF;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.fullskrin__block-img {
  width: 25px;
  height: 25px;
}

.main {
  padding-bottom: 100px;
  max-width: 1200px;
  margin: 0 auto;
}

.section-1 {
  margin: 0 auto;
}
.section-1__box {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.section-1__box-card {
  margin-bottom: 10px;
}
.section-1__title {
  color: var(--White, #FFF);
  font-family: "Work Sans", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: capitalize;
}
.section-1__info {
  color: var(--White, #FFF);
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
  margin-top: 10px;
}
.section-1__card-img {
  transition: 0.3s;
  cursor: pointer;
}
.section-1__card-img:hover {
  transform: scale(1.03);
  filter: drop-shadow(0px 0px 10px #131313);
}
.section-1__footer-txt {
  color: #FFF;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.section-1__box-text {
  color: #FFF;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
  margin-top: 15px;
}
.section-1__images-img {
  transition: 0.3s;
  cursor: pointer;
}
.section-1__images-img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 10px #131313);
}
.section-1__more {
  width: 100px;
  height: 100px;
  background-color: #A259FF;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
}
.section-1__more:hover {
  background-color: rgb(255, 130, 34);
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 10px #131313);
}
.section-1__box-card:nth-child(2) .section-1__more:hover {
  background-color: #c717d7;
}
.section-1__box-card:nth-child(3) .section-1__more:hover {
  background-color: #23ae8d;
}
.section-1__more-text {
  color: #FFF;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  text-transform: capitalize;
  transition: 0.3s;
}
.section-1__more:hover .section-1__more-text {
  color: #000;
}
.section-1__images {
  display: flex;
  justify-content: space-between;
  max-width: 330px;
  margin-top: 15px;
}
.section-1__footer {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.section-1__footer-txt {
  transform: translateX(12px);
}

.button-767px {
  display: none;
}

.section-2 {
  margin: 0 auto;
  margin-top: 160px;
}
.section-2__2 {
  display: none;
  max-width: 400px;
  margin: 0 auto;
}
.section-2__2 .section-2__block {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin-top: 30px;
}
.section-2__2 .section-2__block-creator {
  max-width: 300px;
  padding: 10px;
  height: 140px;
  padding: 20px;
}
.section-2__2 .section-2__creator-number {
  top: 30px;
  left: 15px;
}
.section-2__2 .section-2__block-creator .section-2__creator-info {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.section-2__2 .section-2__creator-info .section-2__creator-title {
  font-size: 24px;
}
.section-2__2 .section-2__creator-info .section-2__creator-text {
  font-size: 18px;
}
.section-2__block .section-2__box-button {
  margin-top: 40px;
}
.section-2__2 .section-2__box-title {
  font-size: 33px;
}
.section-2__2 .section-2__box-txt {
  font-size: 20px;
}
.section-2__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.section-2__box-title {
  color: var(--White, #FFF);
  font-family: "Work Sans", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: capitalize;
}
.section-2__box-txt {
  color: var(--White, #FFF);
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
  margin-top: 10px;
}
.section-2__box-button {
  width: 270px;
  height: 60px;
  border: 2px solid rgb(162, 89, 255);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
}
.section-2__box-button:hover {
  border: 2px solid #000;
}
.section-2__button-text {
  color: #FFF;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  transform: translateX(5px);
  transition: 0.5s;
}
.section-2__box-button:hover .section-2__button-text {
  transform: scale(1.05);
}
.section-2__button-img {
  transition: 0.5s;
}
.section-2__box-button:hover .section-2__button-img {
  transform: rotate(360deg) translateX(-10px);
}
.section-2__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1110px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 20px;
}
.section-2__block-card:nth-child(2), .section-2__block-card:nth-child(3) {
  margin-top: 30px;
}
.section-2__block-creator {
  width: 240px;
  height: 240px;
  background-color: #3B3B3B;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}
.section-2__block-creator:nth-child(1):hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 10px #08a684);
}
.section-2__block-creator:nth-child(2):hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 10px #d8bf00);
}
.section-2__block-creator:nth-child(3):hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 10px #ffd500);
}
.section-2__block-creator:nth-child(4):hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 10px #5defe7);
}
.section-2__block-creator:nth-child(5) {
  margin-top: 30px;
}
.section-2__block-creator:nth-child(5):hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 10px #60aaa6);
}
.section-2__block-creator:nth-child(6) {
  margin-top: 30px;
}
.section-2__block-creator:nth-child(6):hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 10px #f29430);
}
.section-2__block-creator:nth-child(7) {
  margin-top: 30px;
}
.section-2__block-creator:nth-child(7):hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 10px #e4b256);
}
.section-2__block-creator:nth-child(8) {
  margin-top: 30px;
}
.section-2__block-creator:nth-child(8):hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 10px #234545);
}
.section-2__block-creator:nth-child(9) {
  margin-top: 30px;
}
.section-2__block-creator:nth-child(9):hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 10px #0b413f);
}
.section-2__block-creator:nth-child(10) {
  margin-top: 30px;
}
.section-2__block-creator:nth-child(10):hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 10px #dc7e4f);
}
.section-2__block-creator:nth-child(11) {
  margin-top: 30px;
}
.section-2__block-creator:nth-child(11):hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 10px #22c777);
}
.section-2__block-creator:nth-child(12) {
  margin-top: 30px;
}
.section-2__block-creator:nth-child(12):hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 10px #eb6274);
}
.section-2__creator-number {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgb(43, 43, 43);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #858584;
  top: 18px;
  left: 18px;
  transition: 0.3s;
}
.section-2__block-creator:nth-child(1):hover .section-2__creator-number {
  background-color: #08a684;
  color: #131313;
}
.section-2__block-creator:nth-child(2):hover .section-2__creator-number {
  background-color: #d8bf00;
  color: #131313;
}
.section-2__block-creator:nth-child(3):hover .section-2__creator-number {
  background-color: #ffd500;
  color: #131313;
}
.section-2__block-creator:nth-child(4):hover .section-2__creator-number {
  background-color: #5defe7;
  color: #131313;
}
.section-2__block-card:nth-child(2) .section-2__block-creator:nth-child(1):hover .section-2__creator-number {
  background-color: #60aaa6;
  color: #131313;
}
.section-2__block-card:nth-child(2) .section-2__block-creator:nth-child(2):hover .section-2__creator-number {
  background-color: #f29430;
  color: #131313;
}
.section-2__block-card:nth-child(2) .section-2__block-creator:nth-child(3):hover .section-2__creator-number {
  background-color: #e4b256;
  color: #131313;
}
.section-2__block-card:nth-child(2) .section-2__block-creator:nth-child(4):hover .section-2__creator-number {
  background-color: #234545;
  color: #131313;
}
.section-2__block-card:nth-child(3) .section-2__block-creator:nth-child(1):hover .section-2__creator-number {
  background-color: #0b413f;
  color: #131313;
}
.section-2__block-card:nth-child(3) .section-2__block-creator:nth-child(2):hover .section-2__creator-number {
  background-color: #dc7e4f;
  color: #131313;
}
.section-2__block-card:nth-child(3) .section-2__block-creator:nth-child(3):hover .section-2__creator-number {
  background-color: #22c777;
  color: #131313;
}
.section-2__block-card:nth-child(3) .section-2__block-creator:nth-child(4):hover .section-2__creator-number {
  background-color: #eb6274;
  color: #131313;
}
.section-2__creator-title {
  color: #FFF;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
  text-align: center;
}
.section-2__creator-text {
  color: var(--caption-label-text, #858584);
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.section-2__text-span {
  color: var(--Text, #FFF);
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.fade-up {
  width: 300px;
  height: 90px;
  background-color: #070464;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
}

/* Стилі для великих екранів (дисплей максимум 1199рх) */
@media (max-width: 1199px) {
  .fullskrin {
    padding: 0 20px;
  }
  .fullskrin__body {
    padding: 100px 50px;
    margin-top: 50px;
  }
  .fullskrin__walked-img {
    width: 440px;
  }
  .fullskrin__body {
    width: 100%;
  }
  .fullskrin__body-walked {
    height: 500px;
  }
  .fullskrin__body-info {
    width: 430px;
  }
  .fullskrin__body-title {
    font-size: 60px;
  }
  .fullskrin__numbers {
    width: 380px;
  }
  .fullskrin__item-title {
    font-size: 26px;
  }
  .main {
    padding: 0 20px;
  }
  .section-2__block-creator {
    width: 220px;
    height: 220px;
  }
  .section-2__box-title {
    font-size: 38px;
  }
  .section-2__box-txt {
    font-size: 22px;
  }
  .section-2__text-span {
    font-size: 14px;
  }
  .fullskrin__button-input[type=checkbox]:checked ~ .fullskrin__button-label .fullskrin__body-button {
    transform: translateX(-50px);
  }
  .fullskrin__button-input[type=checkbox]:checked ~ .fullskrin__create {
    position: absolute;
    width: 720px;
    height: 330px;
    background-color: rgb(59, 59, 59);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    left: 20%;
    top: 10%;
    animation: create 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .fullskrin__create {
    left: 20%;
  }
  .fullskrin__create-img {
    width: 400px;
    height: 330px;
  }
  .fullskrin__markt-text {
    font-size: 20px;
  }
  .fullskrin__header-markt {
    width: 200px;
  }
  .fullskrin__create-input {
    height: 35px;
  }
  .fullskrin__create-info {
    height: 320px;
  }
  .fullskrin__create-button {
    height: 45px;
  }
}
/* Стилі для середніх екранів (дисплей максимум 991рх) */
@media (max-width: 991px) {
  .fullskrin__header {
    flex-direction: column;
    padding: 0;
  }
  .fullskrin__header-market {
    margin: 20px auto;
  }
  .fullskrin__nav {
    margin: 0 auto;
    width: 100%;
    justify-content: space-around;
  }
  .fullskrin__body {
    padding: 80px 10px;
    margin: 0 auto;
  }
  .fullskrin__body-info {
    width: 300px;
    margin-right: 10px;
  }
  .fullskrin__body-title {
    color: var(--White, #FFF);
    font-family: "Work Sans", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
  }
  .fullskrin__body-text {
    color: var(--White, #FFF);
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  .fullskrin__numbers {
    width: 300px;
  }
  .fullskrin__item-title {
    color: var(--White, #FFF);
    font-family: "Space Mono", monospace;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    text-transform: capitalize;
  }
  .fullskrin__item-text {
    color: var(--White, #FFF);
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  .fullskrin__body-walked {
    width: 400px;
    height: 420px;
  }
  .fullskrin__walked-img {
    width: 400px;
    height: 300px;
  }
  .main {
    padding: 0 50px;
  }
  .section-1__box-card:last-child {
    display: none;
  }
  .section-2__block-creator {
    width: 300px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .section-2__creator-img {
    width: 60px;
  }
  .section-2__creator-title {
    text-align: left;
  }
  .section-2__text-span {
    font-size: 16px;
  }
  .section-2__block-creator:nth-child(3) {
    margin-top: 30px;
  }
  .section-2__block-creator:nth-child(4) {
    margin-top: 30px;
  }
  .fullskrin__button-input[type=checkbox]:checked ~ .fullskrin__create {
    left: 10%;
    width: 700px;
    top: 10%;
  }
  .fullskrin__button-input[type=checkbox]:checked ~ .fullskrin__button-label .fullskrin__body-button {
    background-color: transparent;
    border: 2px solid #000;
    transform: translateY(200px);
  }
  @keyframes create {
    0% {
      top: 200%;
    }
    100% {
      top: 10%;
    }
  }
  .fullskrin__create {
    left: 10%;
    top: 10%;
    display: none;
  }
}
@media (max-width: 810px) {
  .fullskrin__button-input[type=checkbox]:checked ~ .fullskrin__create {
    flex-direction: column-reverse;
    height: 600px;
    width: 375px;
    left: 50%;
    top: -10%;
    animation: create 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .fullskrin__create {
    left: 50%;
    top: -10%;
  }
  .fullskrin__create-img {
    width: 375px;
    height: 232px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0px;
  }
  .fullskrin__create-info {
    height: 350px;
    margin-bottom: 10px;
  }
  @keyframes create {
    0% {
      left: -203%;
    }
    50% {
      left: 70%;
    }
    100% {
      left: 50%;
    }
  }
  .fullskrin__button-input[type=checkbox]:checked ~ .fullskrin__button-label .fullskrin__body-button {
    background-color: transparent;
    border: 2px solid #000000;
    transform: translateX(0px);
  }
  .fullskrin__create-input {
    width: 270px;
    height: 40px;
  }
}
/* Стилі для малих екранів (дисплей максимум 767рх) */
@media (max-width: 767px) {
  .fullskrin__header {
    width: 400px;
  }
  .fullskrin__header-mobile {
    width: 50px;
  }
  .fullskrin__mobile-line {
    height: 3px;
  }
  .fullskrin__mobile-line::after {
    height: 3px;
  }
  .fullskrin__mobile-line::before {
    height: 3px;
  }
  .fullskrin__nav {
    display: none;
  }
  .fullskrin__header {
    flex-direction: row;
  }
  .fullskrin__header-market {
    margin: 0;
  }
  .fullskrin__header-mobile {
    display: block;
  }
  .fullskrin__nav-link {
    font-size: 22px;
  }
  .fullskrin__button {
    width: 130px;
    padding: 5px;
    height: 45px;
    border-radius: 15px;
    background-color: transparent;
  }
  .fullskrin__button-text {
    font-size: 22px;
  }
  .fullskrin__button-img {
    width: 25px;
    height: 25px;
  }
  .fullskrin__body {
    flex-direction: column;
    width: 400px;
    padding: 0;
    margin-top: 30px;
  }
  .fullskrin__body-button {
    width: 400px;
    padding: 0 130px;
  }
  .fullskrin__numbers {
    width: 400px;
  }
  .fullskrin__body-info {
    width: 400px;
  }
  .fullskrin__body-walked {
    margin-top: 30px;
  }
  .section-1 {
    width: 400px;
    margin-top: 80px;
    padding: 0 30px;
  }
  .section-1__box-card:nth-child(2) {
    display: none;
  }
  .section-1__box-card {
    margin: 0 auto;
  }
  .section-1__title {
    text-align: left;
    font-size: 33px;
  }
  .section-1__info {
    text-align: left;
    font-size: 20px;
  }
  .section-1__card-img {
    width: 330px;
  }
  .fullskrin__create-img {
    display: none;
  }
  .fullskrin__button-input[type=checkbox]:checked ~ .fullskrin__create {
    height: 350px;
    width: 370px;
    left: 2%;
    top: 20%;
  }
  @keyframes create {
    0% {
      left: -90%;
    }
    50% {
      left: 30%;
    }
    100% {
      left: 2%;
    }
  }
  .fullskrin__button-input[type=checkbox]:checked ~ .fullskrin__button-label .fullskrin__body-button {
    background-color: #A259FF;
    transform: translateY(240px) translateX(90px);
    width: 230px;
    padding: 0px 50px;
    border: none;
  }
  .fullskrin__create-input {
    width: 300px;
    height: 45px;
  }
  .fullskrin__create-button {
    width: 230px;
    height: 50px;
  }
  /* ------ BUTTON ------ */
  .button-767px {
    display: block;
    margin-top: 40px;
  }
  .button-767px__input {
    display: none;
  }
  .cards-767px {
    display: none;
  }
  .more__button {
    padding: 15px 15px;
    background-color: #A259FF;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid transparent;
  }
  .more__button:hover {
    background-color: transparent;
    border: 2px solid #000;
    transform: scale(1.1);
  }
  .button-767px__input[type=checkbox]:checked ~ .cards-767px {
    display: block;
    margin-top: 40px;
    animation: card 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  @keyframes card {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .button-767px__input[type=checkbox]:checked ~ .button-767px__label .more__button {
    border: 2px solid #000;
    background-color: transparent;
    animation: button 2s linear infinite;
  }
  @keyframes button {
    0% {
      box-shadow: 0 0 10px transparent;
    }
    50% {
      box-shadow: 0 0 10px rgb(162, 89, 255);
    }
    100% {
      box-shadow: 0 0 10px transparent;
    }
  }
  .section-2__box-title {
    font-size: 33px;
  }
  .section-2__box-txt {
    font-size: 20px;
  }
}
@media (max-width: 754px) {
  .section-2__block-creator:nth-child(2) {
    margin-top: 30px;
  }
  .section-2__2 {
    display: block;
    margin-top: 80px;
  }
  .section-2 {
    display: none;
  }
}
/* Стилі для дуже малих екранів (дисплей максимум 575рх) */
@media (max-width: 575px) {
  .fullskrin__market-text {
    font-size: 20px;
  }
  .fullskrin__header-market {
    width: 210px;
  }
  .fullskrin {
    padding: 0 10px;
  }
  .fullskrin__header-mobile {
    width: 50px;
    height: 40px;
  }
  .fullskrin__body {
    width: 400px;
  }
  .fullskrin__walked-img {
    height: 240px;
  }
  .fullskrin__body-walked {
    height: 350px;
  }
  .main {
    width: 400px;
    padding: 0;
  }
  .section-1 {
    margin-top: 0px;
    padding: 0 40px;
  }
  .section-1__title {
    font-size: 28px;
    text-align: left;
  }
  .section-1__info {
    font-size: 18px;
    text-align: left;
  }
  .section-2__2 .section-2__box-title {
    font-size: 28px;
  }
  .section-2__2 .section-2__box-txt {
    font-size: 18px;
  }
}
@media (max-width: 420px) {
  .fullskrin__header {
    width: 320px;
    transform: translateY(10px);
    position: relative;
    z-index: 5;
  }
  .fullskrin__body {
    width: 320px;
  }
  .fullskrin__body-info {
    width: 320px;
  }
  .fullskrin__body-title {
    font-size: 30px;
  }
  .fullskrin__numbers {
    width: 320px;
  }
  .fullskrin__header-mobile {
    transform: translateX(-10px);
  }
  .fullskrin__mobile-line {
    height: 2px;
    width: 90%;
  }
  .fullskrin__mobile-line::after {
    height: 2px;
    top: 12px;
    width: 60%;
  }
  .fullskrin__header-input[type=checkbox]:checked ~ .fullskrin__header-label .fullskrin__header-mobile .fullskrin__mobile-line::before {
    background-color: #ff0101;
    width: 100%;
    transform: rotate(90deg) translateX(11px);
  }
  .fullskrin__mobile-line::before {
    height: 2px;
    top: -12px;
    width: 80%;
  }
  .fullskrin__walked-img {
    width: 320px;
  }
  .fullskrin__body-walked {
    width: 320px;
  }
  .fullskrin__body-button {
    width: 320px;
    padding: 0 97px;
  }
  .section-1__card-img {
    width: 300px;
  }
  .section-1 {
    padding: 0 10px;
    width: 320px;
  }
  .main {
    width: 320px;
  }
  .section-1__images-img {
    width: 90px;
    height: 90px;
  }
  .section-1__more {
    width: 90px;
    height: 90px;
  }
  .section-2__box {
    padding: 0 10px;
  }
  .section-2__2 .section-2__block-creator .section-2__creator-title {
    font-size: 20px;
  }
  .section-2__2 .section-2__block-creator .section-2__creator-text {
    font-size: 16px;
  }
  .section-2__2 .section-2__block-creator .section-2__text-span {
    font-size: 14px;
  }
  .section-2__2 .section-2__block-creator {
    height: 100px;
  }
  .section-2__2 .section-2__creator-number {
    top: 15px;
    left: 10px;
  }
  .section-2__2 .section-2__block-creator .section-2__creator-info {
    height: 60px;
  }
  .section-2__block {
    padding: 0px;
  }
  .fullskrin__button-input[type=checkbox]:checked ~ .fullskrin__create {
    height: 350px;
    width: 300px;
    left: 2%;
    top: 20%;
  }
  .fullskrin__create-input {
    width: 250px;
    height: 40px;
  }
  .fullskrin__button-input[type=checkbox]:checked ~ .fullskrin__button-label .fullskrin__body-button {
    background-color: #A259FF;
    transform: translateY(220px) translateX(40px);
    width: 230px;
    padding: 0px 50px;
    border: none;
  }
  .fullskrin__create-button {
    width: 210px;
    height: 50px;
  }
}/*# sourceMappingURL=style.css.map */