* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

.fullskrin {
    height: 100vh;
    background-color: #2B2B2B;

    &__header {
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0 0 0;
    }

    &__header-market {
        display: flex;
        justify-content: space-between;
        width: 250px;
        align-items: center;
    }

    &__market-text {
        color: #FFF;
        text-align: center;
        font-family: 'Work Sans', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
    }

    &__header-mobile {
        width: 60px;
        height: 60px;
        border: 1px solid #ffffff;
        display: none;
        margin-top: 10px
    }

    &__nav{
        display: flex;
        justify-content: space-between;
        width: 610px;
        align-items: center;
    }

    &__nav-link {
        color: #FFF;
        text-align: center;
        font-family: 'Work Sans', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
    }

    &__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
        height: 60px;
        background-color: rgba(162, 89, 255, 1);
        border-radius: 20px;
        padding: 0 30px;
    }

    &__button-text {
        color: #FFF;
        text-align: center;
        font-family: 'Work Sans', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
    }

    &__body {
        max-width: 1300px;
        margin:  0 auto;
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        padding: 80px 100px;
    }

    &__body-title {
        color: var(--White, #FFF);
        font-family: 'Work Sans', sans-serif;
        font-size: 67px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%;
        text-transform: capitalize;
        max-width: 510px;
    }

    &__body-text {
        color: var(--White, #FFF);
        font-size: 22px;
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        text-transform: capitalize;
        max-width: 510px;
        margin-top: 20px;
    }

    &__body-button {
        width: 230px;
        height: 60px;
        background-color: rgba(162, 89, 255, 1);
        border-radius: 20px;
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }

    &__rocket {
        width: 20px;
        height: 20px;
    }

    &__started {
        color: #FFF;
        text-align: center;
        font-family: 'Work Sans', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
    }

    &__numbers {
        width: 510px;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    &__item-title {
        color: var(--White, #FFF);
        font-family: 'Space Mono', monospace;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        text-transform: capitalize;
    }

    &__item-text {
        color: var(--White, #FFF);
        font-family: 'Work Sans', sans-serif;
        font-size: 23.99px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        text-transform: capitalize;
    }

    &__body-walked {
        background-color: rgba(59, 59, 59, 1);
        border-radius: 20px;
    }

    &__walked-info {
        padding: 20px;
    }

    &__walked-title {
        color: #FFF;
        font-family: 'Work Sans', sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        text-transform: capitalize;
    }

    &__walked-block {
        display: flex;
        justify-content: space-between;
        max-width: 110px;
        margin-top: 10px;
    }

    &__block-text {
        color: #FFF;
        font-family: 'Work Sans', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }
}

/* Стилі для великих екранів (дисплей максимум 1199рх) */
@media (max-width: 1199px) {
    .fullskrin {
        padding: 0 20px;
    }
}

/* Стилі для середніх екранів (дисплей максимум 991рх) */
@media (max-width: 991px) {
    .fullskrin__header {
        flex-direction: column;
        padding: 0;
    }

    .fullskrin__header-market {
        margin: 20px auto;
    }

    .fullskrin__nav {
        margin: 0 auto;
        width: 100%;
        justify-content: space-around;
    }
}

/* Стилі для малих екранів (дисплей максимум 767рх) */
@media (max-width: 767px) {
    .fullskrin__nav {
        display: none;
    }

    .fullskrin__header {
        flex-direction: row;
    }

    .fullskrin__header-market {
        margin: 0;
    }

    .fullskrin__header-mobile {
        display: block;
    }
}

/* Стилі для дуже малих екранів (дисплей максимум 575рх) */
@media (max-width: 575px) {
    .fullskrin__market-text {
        font-size: 20px;
    }

    .fullskrin__header-market {
        width: 210px;
    }

    .fullskrin {
        padding: 0 10px;
    }
}